* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* COLOR VARIABLES */
:root {
    --primary-color: rgb(55, 139, 218); 
    --secondary-color: #fff; 
  }
  

/* HEADER ----------------------- */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}

header h1 {
    font-size: 1em;
    font-weight: 200;
    margin: 0 auto;
}

header h1 span {
    font-size: 2em;
}
/* ------------------------------ */

/* CONTROLS --------------------- */
.controls ul li button {
    text-transform: uppercase;
    margin: 0 auto;
    color: var(--primary-color);
    font-size: .8em;
    letter-spacing: 1px;
    transition: all 0.3s;
    height: 100%;
    background: white;
    border: none;
    /* ensure it takes all height from parent el */
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    padding: 3px 20px 3px 20px;
    outline: none;
}

#message {
    width: 25%;
    text-transform: uppercase;
    margin: 0 auto;
    color: rgb(31, 31, 77);
    font-size: .8em;
    letter-spacing: 1px;
    transition: all 0.3s;
    height: 100%;
    background: white;
    border: none;
    display: inline-block;
    font-weight: 700;
    padding: 3px 20px 3px 20px;
}


.controls {
    max-width: 700px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.controls ul li {
    display: inline-block;
}

.controls ul {
    list-style: none;
}

.controls ul li button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/* ------------------------------ */

main {
    background-color: #232323;
    height: 100vh;
    padding-top: 10px;
}

main div[class^="row"] {
    display: flex;
    justify-content: center;
}

main div[class^="cube"] {
    height: 100px;
    width: 100px;
    border-radius: 20%; 
    margin: 1%;
    border: 1px solid var(--secondary-color);
    transition: background-color 0.5s; 
}

.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}