* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* COLOR VARIABLES */

:root {
    --primary-color: rgb(78, 78, 78);
    --secondary-color: rgb(255, 250, 250);
}

/* RE-DESIGN SCREEN ------------- */

.game-container {
    display: flex;
    height: 100vh;
}

.control-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.tile-area {
    flex: 2;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
    width: 100%;
}

.tile {
    height: 50px;
    flex: 1;
    min-width: 33.3%;
    min-height: 33.334%;
    transition: background-color 0.5s, color .5s;
    /* border: .5px solid var(--primary-color); */
    cursor: crosshair;
    /* margin: 1px; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skull {
    font-size: 3em;
    /* color: inherit; */
    /* visibility: hidden; */
}

.oneRow {
    height: 50%;
    align-self: center;
}

.twoRow {
    height: 50%;
}

.threeRow {
    height: 33%;
}

.control-area-content {
    width: 80%;
    padding-top: 40%;
}

footer {
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.6em;
    opacity: 0.6;
}

/* ------------------------------ */

/* HEADER ----------------------- */

header {
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    height: 100px;
    /* padding: 15px; */
}

header h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3em;
    font-weight: 200;
    margin: 5px auto 20px auto;
    opacity: 0.7;
}

header p.question {
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 5px;
    opacity: 0.7;
}

header p.rgb {
    font-size: 2em;
    font-weight: 700;
}

/* ------------------------------ */

/* CONTROLS --------------------- */

.controls ul li button {
    text-transform: uppercase;
    margin: 0 auto;
    color: var(--primary-color);
    font-size: .8em;
    letter-spacing: 1px;
    transition: all 0.3s;
    height: 100%;
    background: white;
    border: none;
    /* ensure it takes all height from parent el */
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    margin-left: 5px;
    outline: none;
    line-height: 1.5em;
}

#message {
    /* width: 25%; */
    text-transform: uppercase;
    margin: 50px auto;
    color: rgb(31, 31, 77);
    font-size: 2.5em;
    letter-spacing: 1px;
    transition: all 0.3s;
    height: 100%;
    border: none;
    display: inline-block;
    font-weight: 700;
    /* padding: 3px 20px 3px 20px; */
    font-family: 'Gloria Hallelujah', cursive;
}

.controls {
    /* max-width: 700px; */
    margin: 0 auto 0 auto;
    text-align: center;
    height: 10px;
    /* line-height: 2em; */
}

.controls ul li {
    display: inline-block;
}

#new {
    margin-right: 15px;
}

.controls ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.controls ul li button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: 1.5em;
}

/* TODO: NOT WORKING */

.controls ul li button.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* ------------------------------ */

/* MEDIA QUERIES */

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 600px) {
    .game-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        font-size: .8em;
        /* padding-top: 10px; */
    }

    footer, h1 {
        visibility: hidden;
    }


    .control-area {
        flex: 1;
        /* height: 100px; */
        /* padding-top: 10px; */
    }

    .tile-area {
        flex: 3;
    }
    

    .control-area-content {
        /* padding-top: 70px; */
        padding: 0;
        margin-top: 0px;
        /* height: 50px; */

    }
    #message {
        /* margin-top: 10px; */
    }

    .controls {
        padding-top: 50px;
    }
    header {
        height: 20px;
    }
}